main {
  display: flex;
  flex-direction: column;
}

.enjoy-text {
  font-size: 2.5vh;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

.start-frame {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px 5px #888888;
  width: 40vh;
  height: 40vh;
  align-items: center;
  position: relative;
  justify-content: center;
}



.start-btn {
  font-weight: 500;
  background-image: url(../img/start.jpg);
  background-size: cover;
  color: white;
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
  border:1px solid white;
  margin-left: auto;
  margin-right: auto;
}
.back{
  margin-left: auto;
  margin-right: auto;
}
.back-home {
   font-size: 2.6vh;
   font-weight: 500;
   background-color: var(--orange);
   color: white;
   width: 30vh;
   height: 3.5vh;
   margin-top: 25vh;
   border: 1px solid var(--orange);
   border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
 }